@import './variables.module.scss';
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  min-width: 100%;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
}

.levels,
.cards {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  label {
    font-weight: 600;
  }
}

.center {
  text-align: center;
}

.grid-container {
  display: inline-grid;
  margin: 0 auto;
  position: relative;

  &.lock {
    cursor: auto;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid rgba($dark, 0.5);
  background-color: $secondary;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.hint {
  background-color: rgba($secondary, 0.5);
  border: 1px solid rgba($dark, 0.3);
  cursor: auto;

  &.spirit {
    background-color: rgba($secondary, 0.25);
    border: 1px solid rgba($dark, 0.15);
  }
}

.cell.black {
  background-color: #000;
}

.volume {
  padding: 0;

  .bi-volume-mute {
    font-size: 2rem;
  }
  .bi-volume-up {
    font-size: 2rem;
  }
}

.theme {
  padding: 0;

  .bi-brightness-high {
    font-size: 1.8rem;
  }
  .bi-moon {
    font-size: 1.5rem;
  }
}

.alerts {
  position: absolute;
  top: 58px;
  right: 0;
  z-index: 99;

  .alert {
    gap: 16px;
  }
}
