@import '~bootstrap/scss/bootstrap';

[data-bs-theme='dark'] {
  --bs-body-bg: #3d4d8c;
  --bs-body-bg-rgb: #{to-rgb(#3d4d8c)};

  --bs-primary: #{to-rgb(#080a22)};
  --bs-primary-rgb: #{to-rgb(#080a22)};
  --bs-secondary: #{to-rgb(#315796)};
  --bs-secondary-rgb: #{to-rgb(#315796)};
  --bs-success: #{to-rgb(#58bfbe)};
  --bs-success-rgb: #{to-rgb(#58bfbe)};
  --bs-info: #{to-rgb(#58a0bf)};
  --bs-info-rgb: #{to-rgb(#58a0bf)};
  --bs-danger: #{to-rgb(#fcbad3)};
  --bs-danger-rgb: #{to-rgb(#fcbad3)};
  --bs-warning: #{to-rgb(#ffffd2)};
  --bs-warning-rgb: #{to-rgb(#ffffd2)};

  --bs-success-text-emphasis: #aacfbd;
  --bs-success-text-emphasis-rgb: #{to-rgb(#aacfbd)};
  --bs-success-border-subtle: #2b8b5e;
  --bs-success-border-subtle-rgb: #{to-rgb(#2b8b5e)};
  --bs-success-bg-subtle: #2d6e6d5c;

  --bs-danger-text-emphasis: #cebac3;
  --bs-ganger-text-emphasis-rgb: #{to-rgb(#cebac3)};
  --bs-danger-bg-subtle: #38222e59;
  --bs-danger-border-subtle: #6e3939fb;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0a1c38;
    --bs-btn-border-color: #0f326b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0a1c38;
    --bs-btn-hover-border-color: #0f326b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0f326b;
    --bs-btn-active-border-color: #0f326b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1f2124;
    --bs-btn-disabled-border-color: #1f2124;
  }

  .btn-outline-primary {
    --bs-btn-bg: #0a1c389c;
    --bs-btn-color: #969696be;
    --bs-btn-border-color: #0f326b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0a1c38cb;
    --bs-btn-hover-border-color: #0f326b;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a1c38;
    --bs-btn-active-border-color: #0a1c38;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1f2124;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1f2124;
    --bs-gradient: none;
  }

  .btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4e8197;
    --bs-btn-border-color: #4e8197;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #58a0bf;
    --bs-btn-hover-border-color: #58a0bf;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #58a0bf;
    --bs-btn-active-border-color: #58a0bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #58a0bf;
    --bs-btn-disabled-border-color: #58a0bf;
    font-weight: 500;
  }

  .btn-outline-secondary {
    --bs-btn-bg: rgb#4e8197ea;
    --bs-btn-color: #fffdfdb6;
    --bs-btn-border-color: #58a0bf;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4e819781;
    --bs-btn-hover-border-color: #4e819781;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #58a0bf;
    --bs-btn-active-border-color: #58a0bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(128, 139, 155);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(128, 139, 155);
    --bs-gradient: none;
    font-weight: 500;
  }

  .btn-outline-success {
    --bs-btn-bg: #2d6e6dc4;
    --bs-btn-color: #d8d8d8;
    --bs-btn-border-color: #58bfbe;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #58bfbdc0;
    --bs-btn-hover-border-color: #58bfbe;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #58bfbe;
    --bs-btn-active-border-color: #58bfbe;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #a3a3a3;
    --bs-btn-disabled-bg: #8cc4c452;
    --bs-btn-disabled-border-color: #a3a3a3;
    --bs-gradient: none;
  }

  .btn-outline-info {
    --bs-btn-bg: #005c75d8;
    --bs-btn-color: #d8d8d8;
    --bs-btn-border-color: #00799b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #007ea1d8;
    --bs-btn-hover-border-color: #007ea1d8;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0193bbd8;
    --bs-btn-active-border-color: #0193bbd8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #a3a3a3;
    --bs-btn-disabled-bg: #8cc4c452;
    --bs-btn-disabled-border-color: #a3a3a3;
    --bs-gradient: none;
  }

  .btn-outline-modal-cancel {
    --bs-btn-bg: #2d6e6d31;
    --bs-btn-color: #d8d8d8;
    --bs-btn-border-color: #58bfbd9f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2d6e6d71;
    --bs-btn-hover-border-color: #58bfbd9f;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2d6e6d96;
    --bs-btn-active-border-color: #58bfbd9f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #a3a3a3;
    --bs-btn-disabled-bg: #8cc4c452;
    --bs-btn-disabled-border-color: #a3a3a3;
    --bs-gradient: none;
  }

  .modal {
    --bs-modal-bg: #0b0c18;
    --bs-modal-bg-rgb: #{to-rgb(#0b0c18)};
    color: #a2a2a2;
  }
  .table {
    --bs-table-bg: #0b0c18;
    --bs-table-bg-rgb: #{to-rgb(#0b0c18)};
    --bs-table-striped-color: #a2a2a2;
    --bs-table-color: #a2a2a2;
  }

  .grid-wrap {
    background: #0a1c3898;
  }

  .game-bg2 {
    background: #000000c0;
  }

  .cell {
    color: #909090;
    background-color: #101720;
    background-color: #505050bd;
    border: 1px solid rgba($white, 0.1);
  }

  .cell-border-right {
    border-right: 2px solid #707070 !important;
  }

  .cell-border-top {
    border-top: 2px solid #707070 !important;
  }

  .cell.black {
    background-color: #6f6f6f;
    background-color: #101720;
  }

  .cell.x {
    color: #101720;
  }

  .hint {
    background-color: #2c3542;
    border: 1px solid rgba($white, 0.1);
    cursor: auto;

    &.spirit {
      background-color: #10172094;
      background-color: #2c354257;
      border: 1px solid rgba($white, 0.15);
    }
  }
}

[data-bs-theme='light'] {
  --bs-body-bg: #566bbe;
  --bs-body-bg-rgb: #{to-rgb(#566bbe)};

  --bs-primary: #{to-rgb(#464b79)};
  --bs-primary-rgb: #{to-rgb(#464b79)};
  --bs-secondary: #{to-rgb(#152d51)};
  --bs-secondary-rgb: #{to-rgb(#152d51)};
  --bs-success: #{to-rgb(#58bfbe)};
  --bs-success-rgb: #{to-rgb(#58bfbe)};
  --bs-info: #{to-rgb(#58a0bf)};
  --bs-info-rgb: #{to-rgb(#58a0bf)};
  --bs-danger: #{to-rgb(#fcbad3)};
  --bs-danger-rgb: #{to-rgb(#fcbad3)};
  --bs-warning: #{to-rgb(#ffffd2)};
  --bs-warning-rgb: #{to-rgb(#ffffd2)};

  --bs-success-text-emphasis: #fff;
  --bs-success-text-emphasis-rgb: #{to-rgb(#fff)};
  --bs-success-border-subtle: #00fff4;
  --bs-success-border-subtle-rgb: #{to-rgb(#00fff2d0)};
  --bs-success-bg-subtle: #289998d1;

  --bs-danger-text-emphasis: #fff;
  --bs-ganger-text-emphasis-rgb: #{to-rgb(#fff)};
  --bs-danger-bg-subtle: #c6135382;
  --bs-danger-border-subtle: #72082e6b;

  --bs-info-text-emphasis: #fff;
  --bs-info-text-emphasis-rgb: #{to-rgb(#fff)};
  --bs-info-bg-subtle: #6483f8a8;
  --bs-info-border-subtle: #6887ff;


  .btn-link {
  --bs-link-color:#a6bee2;
  --bs-link-color-rgb: #{to-rgb(#a6bee2)};
  --bs-link-hover-color: #c3dafc;
  --bs-link-hover-colors-rgb: #{to-rgb(#c3dafc)};
}
.navbar-brand{
  color: #fff
}

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #655a9cfa;
    --bs-btn-border-color: #4f4779;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7063ad;
    --bs-btn-hover-border-color: #655a9c;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #655a9c;
    --bs-btn-active-border-color: #655a9c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #85819b;
    --bs-btn-disabled-border-color: #85819b;
    // font-weight: 500;
  }

  .btn-outline-primary {
    --bs-btn-bg: #655a9cb4;
    --bs-btn-color: #fff;
    --bs-btn-border-color: #655a9c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #655a9cd3;
    --bs-btn-hover-border-color: #655a9c;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #655a9c;
    --bs-btn-active-border-color: #655a9c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #85819b;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #85819b;
    --bs-gradient: none;
    // font-weight: 500;
  }

  .btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #005b82;
    --bs-btn-border-color: #005b82;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #005b82;
    --bs-btn-hover-border-color: #005b82;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #005b82;
    --bs-btn-active-border-color: #005b82;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4d636d;
    --bs-btn-disabled-border-color: #4d636d;
    font-weight: 500;
  }

  .btn-outline-secondary {
    --bs-btn-bg: #1f7194b6;
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #1f7194;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1f7194d5;
    --bs-btn-hover-border-color: #1f7194;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1f7194e3;
    --bs-btn-active-border-color: #1f7194;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgb(128, 139, 155);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgb(128, 139, 155);
    --bs-gradient: none;
    font-weight: 500;
  }

  .btn-outline-success {
    --bs-btn-bg: #027775c4;
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #00a7a4;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #01a09dc4;
    --bs-btn-hover-border-color: #00a7a4;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #11b4b2;
    --bs-btn-active-border-color: #00a7a4;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #e0e0e0;
    --bs-btn-disabled-bg: rgba(90, 134, 134, 0.842);
    --bs-btn-disabled-border-color: rgba(90, 134, 134, 0.842);
    --bs-gradient: none;
    // font-weight: 500;
  }

  .btn-outline-info {
    --bs-btn-bg: #005c75a4;
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #019fca;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #007ea1d8;
    --bs-btn-hover-border-color: #019fca;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0193bbd8;
    --bs-btn-active-border-color: #019fca;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #e0e0e0;
    --bs-btn-disabled-bg: rgba(87, 121, 134, 0.842);
    --bs-btn-disabled-border-color: rgba(87, 121, 134, 0.842);
    --bs-gradient: none;
    // font-weight: 500;
  }

  .btn-outline-modal-cancel {
    --bs-btn-bg: #4b9d9b69;
    --bs-btn-color: #00514f;
    --bs-btn-border-color: #009a97;
    --bs-btn-hover-color:#00514f;
    --bs-btn-hover-bg: rgba(147, 201, 200, 0.486);
    --bs-btn-hover-border-color: #009a97;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #00514f;
    --bs-btn-active-bg: rgba(137, 211, 210, 0.486);
    --bs-btn-active-border-color:#009a97;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #a3a3a3;
    --bs-btn-disabled-bg: #8cc4c452;
    --bs-btn-disabled-border-color: #a3a3a3;
    --bs-gradient: none;
    font-weight: 500;
  }

  .btn-close {
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgb(2 185 193 / 25%);
  }

  .modal {
    --bs-modal-bg: #ecfbfffa;
    --bs-modal-bg-rgb: #{to-rgb(#e8e3fffa)};
  }
  .table {
    --bs-table-bg: #ecfbfffa;
    --bs-table-bg-rgb: #{to-rgb(#ecfbfffa)};
  }

  .grid-wrap {
    background: #60719698;
  }

  .game-bg2 {
    background: #ffffff7e;
  }

  .cell {
    color: #101720;
    background-color: #ececec;
    border: 1px solid rgba(#7393bd, 0.5);
  }

  .cell-border-right {
    border-right: 2px solid #101720 !important;
  }

  .cell-border-top {
    border-top: 2px solid #101720 !important;
  }

  .cell.black {
    background-color: #101720c9;
  }

  .cell.x {
    color: #101720;
  }

  .hint {
    background-color: #d3d8dfc0;
    border: 1px solid rgba(#7393bd, 0.8);
    cursor: auto;

    &.spirit {
      background-color: #607196ab;
      border: 1px solid rgba($white, 0.15);
    }
  }
}

::-webkit-scrollbar {
  width: 16px;
  background-color: #666666a8;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
  background-color: #0000002f;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00000050;
}
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #00000067;
  }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  scrollbar-color: #666666a8 #00000067;
}

.game-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  background-image: url('/img/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.game-bg2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.logo {
  margin-right: 16px;
  margin-bottom: 4px;
  width: 28px;
}

main {
  position: relative;
  z-index: 2;
}

.navbar {
  min-width: 100%;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
}

.levels,
.cards {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  label {
    font-weight: 600;
  }
}

.center {
  text-align: center;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-wrap {
  width: 100%;
  max-width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  user-select: none;

  &.lock {
    cursor: auto;

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.cell {
  cursor: pointer;

  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 1em;
  position: relative;
  width: 100%;
  height: 100%;
}

.easy {
  width: 350px;
}
.medium {
  width: 550px;
}
.hard {
  width: 550px;
}

.hint {
  cursor: auto;
}

.cell.x {
  position: relative;

  &:after {
    content: '\2715';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
  }
}

.volume {
  padding: 0;

  .bi-volume-mute {
    font-size: 2rem;
  }
  .bi-volume-up {
    font-size: 2rem;
  }
}

.theme {
  padding: 0;

  .bi-brightness-high {
    font-size: 1.8rem;
  }
  .bi-moon {
    font-size: 1.5rem;
  }
}

.score {
  padding: 0;

  .bi-bookmark-star {
    font-size: 1.8rem;
  }
  .bi-moon {
    font-size: 1.5rem;
  }
}

.alerts {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 99;
  width: 292px;

  .alert {
    gap: 16px;
  }
}

.invisible {
  display: none;
}

.modal-open {
  overflow: hidden;
}

.timer {
  font-weight: 600;
  font-size: 1.3rem;
}

.btn-action {
  display: flex;
  gap: 16px;
}
