@import "~bootstrap/scss/bootstrap";
@import './variables.module.scss';



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 1px; 
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  cursor: pointer;
}

.cell.black {
  background-color: #000;
}
